div:hover {border: 2px solid red;}

div:nth-of-type(1) {color: red;}
div:nth-of-type(2) {color: green;}
div:nth-of-type(3) {color: blue; font-size: 3em;}
div:nth-of-type(4) {color: purple;}
div:nth-of-type(5) {color: yellow;}

div:nth-of-type(1) > h3 {text-align: center;}
div:nth-of-type(2) > h3 {text-align: right;}
div:nth-of-type(3) > h3 {text-decoration: overline;}
div:nth-of-type(4) > h3 {text-decoration: wavy line-through;}
div:nth-of-type(5) > h3 {background-color: black;}

div:nth-of-type(2n+1) > h3 {font-style: italic;}